
<ng-template #sideLeft>
  <div class="side-left">
    <button class="btn" (click)="limparForm(); modal.setActive(true)">Cadastrar livro</button>
    <div class="livros">
      @for (item of livros$ | async; track $index) {
      <div class="livro" (click)="livroE = item; side.active = false">
        {{item?.titulo}}
      </div>
      }
    </div>
  </div>
</ng-template>

<app-side-bar #side>
  <ng-template [ngTemplateOutlet]="sideLeft"></ng-template>
</app-side-bar>

<app-modal [title]="'Cadastar novo livro'" #modal>
  <div class="modal-content">
    <ng-container *ngTemplateOutlet="formulario"></ng-container>
    <br>
    <button class="btn destaque" (click)="cadastrarLivro()">Cadastrar</button>
  </div>
</app-modal>

<app-modal [title]="'Editar livro'" #modalEdt>
  <div class="modal-content">
    <ng-container *ngTemplateOutlet="formulario"></ng-container>
    <input type="hidden" name="" #codigo>
    <br>
    <button class="btn destaque" (click)="codigo.value = livroE.codigo; editarLivro(codigo.value)">Editar</button>
  </div>
</app-modal>

<section class="menu">
  <div class="more">
    <a (click)="side.toogleActive()">Mais <i class="fi fi-rr-menu-dots"></i></a>
  </div>
  <div class="side-right">
    @if (livroE) {
    <div class="card">
      <h2>{{livroE?.titulo}}</h2>
      <h4>Gênero - {{livroE?.genero}}</h4>
      <h4>Codigo - {{livroE?.codigo}}</h4>
      <div class="buttons">
        <button class="btn edt btn-l" (click)="setValuesModal(); modalEdt.setActive(true)">Editar Livro</button>
        <button class="btn dlt btn-l" (click)="deletarLivro(livroE?.codigo)">Deletar Livro</button>
      </div>
    </div>


    }
    @else {
    <div class="not-selected">
      <img src="../../../assets/Book lover-bro.svg" alt="">
      <h1>Nenhum Livro Selecionado</h1>
    </div>
    }

  </div>
</section>

<ng-template #formulario>
  <div class="fields" [formGroup]="livroForm">
    <div class="field">
      <label for="titulo">Titulo*</label>
      <div class="box">
        <input id="titulo" type="text" placeholder="Titulo" formControlName="titulo">
      </div>
      <div class="validate">
        @if (livroForm.get('titulo')?.hasError('required') && isEntered('titulo')) {
        <div>
          O campo não pode ser vazio
        </div>
        }
      </div>
    </div>
    <div class="field">
      <label for="genero">Gênero*</label>
      <div class="box">
        <input id="genero" type="text" placeholder="Gênero" formControlName="genero">
      </div>
      <div class="validate">@if (livroForm.get('genero')?.hasError('required') && isEntered('genero')) {
        <div>
          O campo não pode ser vazio
        </div>
        }
      </div>
    </div>
    <div class="field">
      <label for="codigo">Código*</label>
      <div class="box">
        <input id="codigo" type="text" placeholder="Código" formControlName="codigo">
      </div>
      <div class="validate">
        @if (livroForm.get('codigo')?.hasError('required') && isEntered('codigo')) {
        <div>
          O campo não pode ser vazio
        </div>
        }
      </div>

    </div>
  </div>
</ng-template>