@import url(../emprestimo/emprestimo.component.scss);


.card{
    background: white;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #eeeeee;
}

.buttons{
    display: flex;
    gap: 15px;
}
